/* ---Navbar CSS --- */
.navbar{
    background: linear-gradient(to right, #c8f3c8, #88f173);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
}
.navbar-nav a{
    color: #fff;
}
.navbar-nav a:hover{
    color: #000;
}
.contenedor{
    width: 98.7vw;
    height: 70vh;
    overflow: hidden;   /*para que no se vea el contenido que se encuentra fuera de la pantalla*/
    position: relative; /*para que se pueda posicionar el contenido como base del contenido con position: absolute;*/
}
.back{
    /* width: 100%; la imagen ocupa el 100% del contenedor, no se corta */
    /* height: 100%; Ocupa el 100% del contenedor */
    box-shadow: rgb(8, 50, 18) 10px 3px 10px 0.5rem;
}
/* ---End Navbar CSS --- */

/* ---Main CSS --- */
.svg{
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.svg img{
    width: 40%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}
.svg img:hover{
    transform: scale(1.1);
}
.titu{
    position: absolute;
    top: 120%;
    left: 72%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    text-align: center;
    
}
.text{
    width: 18%;
    padding-left: 1%;
    cursor: pointer;
    border-right: #fff 2px solid;

}

.text p{
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(67, 67, 67);
}
.text p:hover{
    color: #194812;
    transform: scale(1.1);
}

@media screen and (max-width: 960px){
    .contenedor{
        width: auto;
        height: 40vw;
    }
    .svg img{
        width: 60%;
        height: 60%;
    }
    .titu{
        top: 140%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2vw;
    }
    .text{
        width: 30%;
        padding-left: 1%;
        cursor: pointer;
        border-right: #fff 2px solid;
    }
    .text p{
        font-size: 2vw;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px rgb(67, 67, 67);
    }
    .text p:hover{
        color: #194812;
        transform: scale(1.1);
    }
}

@media screen and (max-width: 600px){
    .contenedor{
        width: auto;
        height: 50vw;
    }
    .svg img{
        width: 40%;
        height: 50%;
    }
    .titu{
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2vw;
    }
    .text{
        width: 30%;
        padding-left: 1%;
        cursor: pointer;
        border-right: #fff 2px solid;
    }
    .text p{
        font-size: 2vw;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px rgb(67, 67, 67);
    }
    .text p:hover{
        color: #194812;
        transform: scale(1.1);
    }
}

/* ---End Main CSS --- */

/* ---Carousel CSS --- */
.structure{
    background: linear-gradient(to top, #c8f3c8, #88f173);
}
.historias{
    color: #fff;
    font-weight: bold;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    padding-top: 3%;
    padding-left: 5%;
}
.pantalla{
    display: flex;
    color: #fff;
}
.texto{
    color: #fff;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    margin: 0 auto;
}
.texto h3{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50%;
}
.carousel{
    width: 70%;
}
.carousel-caption{
    text-shadow: #000 2px 1px 1px;
}
.carousel img{
    border-radius: 20px;
}

@media screen and (max-width: 600px){
    .historias{
        color: #fff;
        font-weight: bold;
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        padding-top: 10%;
        padding-left: 5%;
    }
    .pantalla{
        display: flex;
        color: #fff;
    }
    .texto{
        color: #fff;
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        margin: 0% auto;
    }
    .texto h3{
        width: 100%;
        text-align: center;
        margin-top: 20%;
    }
    .carousel{
        width: 100%;
        padding-bottom: 10%;
        
    }
    .carousel-caption{
        text-shadow: #000 1px 1px 1px;
        font-size: 2vw;
        top: 30%;
    }
    .carousel-caption h5{
        font-size: 3vw;
        margin-top: -30%;
    }
    .carousel-caption p{
        font-size: 2vw;
        margin-top: 35%;
    }
    .carousel img{
        border-radius: 10px;
    }
}

@media screen and (max-width: 960px){
    .historias{
        color: #fff;
        font-weight: bold;
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        padding-top: 10%;
        padding-left: 5%;
    }
    .pantalla{
        display: flex;
        color: #fff;
    }
    .texto{
        color: #fff;
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        margin: 0% auto;
    }
    .texto h3{
        width: 100%;
        text-align: center;
        margin-top: 20%;
    }
    .carousel{
        width: 100%;
        padding-bottom: 10%;
        
    }
    .carousel-caption{
        text-shadow: #000 1px 1px 1px;
        font-size: 2vw;
        top: 30%;
    }
    .carousel-caption h5{
        font-size: 3vw;
        margin-top: -30%;
    }
    .carousel-caption p{
        font-size: 2vw;
        margin-top: 35%;
    }
    .carousel img{
        border-radius: 10px;
    }
}
/* ---End Carousel CSS --- */

/* ---Nuestra Labor CSS --- */
.gatunos{
    background: linear-gradient(to bottom, #c8f3c8, #88f173);
    padding-top: 2%;
    padding-bottom: 2%;
    color: #fff;
}
.gatunos h1{
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    font-weight: bold;
    color: #fff;
}
.gatunosText{
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    padding-top: 2%;
    padding-bottom: 2%;
}
.gatunosText h3{
    font-weight: bold;
    margin-bottom: 2%;
}
.text-end{
    padding-top: 2%;
}
.gatunosText img{
    width: 70%;
    border-radius: 20px;
}
.btn-sm{
    width: 10%;
    height: 8vh;
    background: linear-gradient(to right, #60a952, #60a952);
    color: #fff;
    font-weight: bold;
    cursor: pointer;   
    margin-left: 60%; 
}

@media screen and (max-width: 600px){
    .gatunos{
        background: linear-gradient(to top, #c8f3c8, #88f173);
        padding-top: 0%;
        padding-bottom: 2%;
        color: #fff;
    }
    .gatunos h1{
        padding-top: 10%;
        padding-bottom: 5%;
        padding-left: 5%;
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        font-weight: bold;
        color: #fff;
    }
    .gatunosText{
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .gatunosText h3{
        font-weight: bold;
        margin-bottom: 2%;
    }
    .text-end{
        padding-top: 2%;
    }
    .gatunosText img{
        width: 70%;
        border-radius: 20px;
    }
    .btn-sm{
        width: 30%;
        height: 6vh;
        background: linear-gradient(to right, #88f173, #88f173);
        color: #fff;
        font-weight: bold;
        cursor: pointer;   
        margin-left: 50%; 
    }
}

@media screen and (max-width: 960px){
    .gatunos{
        background: linear-gradient(to top, #c8f3c8, #88f173);
        padding-top: 0%;
        padding-bottom: 2%;
        color: #fff;
    }
    .gatunos h1{
        padding-top: 10%;
        padding-bottom: 5%;
        padding-left: 5%;
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        font-weight: bold;
        color: #fff;
    }
    .gatunosText{
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .gatunosText h3{
        font-weight: bold;
        margin-bottom: 2%;
    }
    .text-end{
        padding-top: 2%;
    }
    .gatunosText img{
        width: 70%;
        border-radius: 20px;
    }
    .btn-sm{
        width: 30%;
        height: 6vh;
        background: linear-gradient(to right, #88f173, #88f173);
        color: #fff;
        font-weight: bold;
        cursor: pointer;   
        margin-left: 50%; 
    }
}

/* ---End Gatunos CSS --- */

/* ---Finding Home CSS --- */
.findingHome{
    background: linear-gradient(to top, #88f173, #88f173);
    padding-top: 2%;
    padding-bottom: 2%;
    color: #fff;
}
.findingHome h1{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    font-weight: bold;
    color: #fff;
}
.card{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(to bottom, #c8f3c8, #88f173);
    box-shadow: 10px 10px 10px rgb(57, 134, 48);
}
.malek{
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    color: #fff;
}
.malek ::placeholder{
    opacity: .5;
    color: #fff;
}
.malek input{
    border: none;
    border-bottom: 1px solid #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    color: #fff;
}
.malek select{
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    background: #000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
/* ---End Finding Home CSS --- */

/* ---Form CSS --- */
.contenedorEnd{
    width: 98.7vw;
    height: 180vh;
    overflow: hidden;   /*para que no se vea el contenido que se encuentra fuera de la pantalla*/
    position: relative; /*para que se pueda posicionar el contenido como base del contenido con position: absolute;*/
    background: linear-gradient(to top, #c8f3c8, #88f173);
}
.formTitle{
    font-weight: bold;
    color: #fff;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    text-align: center;
    padding-top: 5%;
}
.backEnd{
    width: 100%;
    height: 80vh;
    box-shadow: rgb(20, 69, 32) 10px 3px 10px 0.5rem;
}
.svgEnd{
    position: absolute;
    top: 55%;
    left: 20%;
    width: 60vw;
    background-color: #88f173;  
    color: #000;
    border-radius: 10px;
}
.svgEnd button{
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.forms{
    background-color: #fff;
    border-radius: 10px;
    background-color: #88f173;
}
.forms input{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    color: #000;
    width: 50%;
    background-color: #a0e792;
    box-shadow: rgb(150, 160, 150) 2px 2px 0px 1px;
}
.forms input::placeholder{
    color: #000;
}
.forms select{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    color: #000;
    width: 50%;
    background-color: #a0e792;
    box-shadow: rgb(150, 160, 150) 2px 2px 0px 1px;
    color: #000;
}
.forms button:hover{
    background: linear-gradient(to right, #88f173, #88f173);
    color: #fff;
}

@media screen and (max-width: 600px) {
    .contenedorEnd{
        width: 100%;
        height: auto;
        background-color: #88f173;
    }
    .formTitle{
        font-weight: bold;
        color: #fff;
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        text-align: center;
        padding-top: 5%;
    }
    .backEnd{
        width: auto;
        height: 70vh;
        box-shadow: rgb(20, 69, 32) 10px 3px 10px 0.5rem;
        margin-bottom: 40%;
    }
    .svgEnd{
        position: absolute;
        top: 60%;
        left: 5%;
        width: 90vw;
        background-color: #88f173;  
        color: #000;
        border-radius: 10px;
    }
    .svgEnd button{
        color: #000;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    .forms{
        background-color: #88f173;
        border-radius: 10px;
    }
    .forms input{
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
        color: #000;
        width: 50%;
        background-color: #a0e792;
        box-shadow: rgb(150, 160, 150) 2px 2px 0px 1px;
    }
    .forms.nav-link.active{
        background-color: #92d587;
        color: #fff;
    }
    .forms input::placeholder{
        color: #000;
    }
    .forms select{
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
        color: #000;
        width: 50%;
        background-color: #a0e792;
        box-shadow: rgb(150, 160, 150) 2px 2px 0px 1px;
        color: #000;
    }
    .forms button:hover{
        background: linear-gradient(to right, #88f173, #88f173);
        color: #fff;
    }
}

@media screen and (max-width: 960px) {
    .contenedorEnd{
        width: 100%;
        height: auto;
        background-color: #88f173;
    }
    .formTitle{
        font-weight: bold;
        color: #fff;
        text-shadow: 10px 0px 10px rgb(0, 0, 0);
        text-align: center;
        padding-top: 5%;
    }
    .backEnd{
        width: auto;
        height: 80vh;
        box-shadow: rgb(20, 69, 32) 10px 3px 10px 0.5rem;
        margin-bottom: 40%;
    }
    .svgEnd{
        position: absolute;
        top: 60%;
        left: 5%;
        width: 90vw;
        background-color: #88f173;  
        color: #000;
        border-radius: 10px;
    }
    .svgEnd button{
        color: #000;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    .forms{
        background-color: #88f173;
        border-radius: 10px;
    }
    .forms input{
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
        color: #000;
        width: 50%;
        background-color: #a0e792;
        box-shadow: rgb(150, 160, 150) 2px 2px 0px 1px;
    }
    .forms.nav-link.active{
        background-color: #92d587;
        color: #fff;
    }
    .forms input::placeholder{
        color: #000;
    }
    .forms select{
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
        color: #000;
        width: 50%;
        background-color: #a0e792;
        box-shadow: rgb(150, 160, 150) 2px 2px 0px 1px;
        color: #000;
    }
    .forms button:hover{
        background: linear-gradient(to right, #88f173, #88f173);
        color: #fff;
    }
}
/* ---End Form CSS --- */

/* ---Footer CSS --- */
.footer{
    background: linear-gradient(to top, #2b7f1b, #2b7f1b);
    padding-bottom: 2%;
    color: #fff;
}
footer a{
    color: #fff;
    border: none;
    text-decoration: none;
}
.footer h5{
    padding-bottom: 5%;
    padding-left: 5%;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    font-weight: bold;
    color: #fff;
}


